
<h4 align="center">Event binding Angular</h4>

<button (click)="display()">Cliquer</button>

<button type="button" class="btn btn-primary">Ajouter user</button>

<table align="center" border="1" class="table">
    <tr><th>ID</th><th>Nom</th><th>Prénom</th><th>Adresse</th><th>Téléphone</th></tr>
    <tr *ngFor="let personne of personnels">
        <td>{{personne.id}}</td>
        <td>{{personne.nom}}</td>
        <td>{{personne.prenom}}</td>
        <td>{{personne.adresse}}</td>
        <td>{{personne.tel}}</td>
    </tr>
</table>
